/** General Styles **/

p{
  font-size: 1em !important;
}

h5{
  font-size: 1.5em !important;
}

/** StepZilla **/
ol.progtrckr {
    list-style-type: none;
    padding: 0;
    margin-bottom: 3.5em;
    text-align: center;
  }
  
  ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 4.5rem;
    cursor: pointer;
  }
  
  ol.progtrckr li span {
    padding: 0 0.25rem;
  }
  
  @media (max-width: 650px) {
    .progtrckr li span {
      display: none;
    }
  }
  .progtrckr em {
    display: none;
    font-weight: 700;
    padding-left: 1rem;
  }
  
  @media (max-width: 650px) {
    .progtrckr em {
      display: inline;
    }
  }
  
  ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
  }
  
  ol.progtrckr li.progtrckr-doing {
    color: black;
    border-bottom: 4px solid #CCCCCC;
  }
  
  ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #50e5ad;
  }
  
  ol.progtrckr li:after {
    content: "\00a0\00a0";
  }
  
  ol.progtrckr li:before {
    position: relative;
    bottom: -3.7rem;
    float: left;
    left: 50%;
  }
  
  ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    width: 1.2em;
    line-height: 1.4em;
  }
  
  ol.progtrckr li.progtrckr-todo:hover:before {
    color: #50e5ad;
  }
  
  ol.progtrckr li.progtrckr-doing:before {
    content: "\2022";
    color: white;
    background-color: #CCCCCC;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  
  ol.progtrckr li.progtrckr-doing:hover:before {
    color: #50e5ad;
  }
  
  ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: black;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  
  ol.progtrckr li.progtrckr-done:hover:before {
    color: #333;
  }

/** Main **/
body{
    margin-bottom: 3.5em;
    
    background-color: #fefefe; /* white cloud */
    color: #2f4f4f; /* grey black */ 
} 

/** Step 1 **/
span.border{
    display:inline-block;
    border-bottom: 0.15em solid #50e5ad;
}
h5{
    font-weight: 400;
    text-transform : uppercase;
}

p{
    font-size: 1.1em;
}

img.img-figure{
    width:50%;
    margin-bottom: 1em;
    margin-top: 1em;
}

img#img-figure1{
    width:60%;
    margin-bottom: 1em;
    margin-top: 1em;
}

p#agreement{
    color: grey;
    font-weight: 600;
}

div.footer-buttons{
    text-align: right;
}

p.strong{
    font-weight: bold;
}

/** Step 2 **/

.step2.enable-true  ~ div.footer-buttons button#next-button {
  display: inline-block; 
  opacity: 0.65; 
  pointer-events: none;
  cursor: default;
}
.step2.enable-false  ~ div.footer-buttons button#next-button {
  display: inline-block;
  opacity: 1; 
  cursor: auto;
}

div.footer-buttons{
  margin-bottom: 3em;
}

/** Step 3 **/

.step3.enable-true  ~ div.footer-buttons button#next-button {
  display: inline-block; 
  opacity: 0.65; 
  pointer-events: none;
  cursor: default;
}
.step3.enable-false  ~ div.footer-buttons button#next-button {
  display: inline-block;
  opacity: 1; 
  cursor: auto;
}

/** Step 6 **/

.step6.enable-true  ~ div.footer-buttons button#next-button {
  display: inline-block; 
  opacity: 0.65; 
  pointer-events: none;
  cursor: default;
}
.step6.enable-false  ~ div.footer-buttons button#next-button {
  display: inline-block;
  opacity: 1; 
  cursor: auto;
}

.step6.enable-true input#submit {
  display: inline-block; 
  /* opacity: 0.65;  */
  pointer-events: none;
  cursor: default;
  color : white;
  background-color: #92edca;
  width: 6em;
  height: 2em;
  border-radius: 0.25em;
  border-color: white;
  text-transform: uppercase;
}
.step6.enable-false input#submit {
  display: inline-block;
  /* opacity: 1;  */
  cursor: auto;
  color : white;
  background-color: #1ebea5;
  width: 6em;
  height: 2em;
  border-radius: 0.25em;
  border-color: white;
  text-transform: capitalize;
  text-transform: uppercase;
}

/* Previous - Next */
.btn{
    margin-right: 1em;
    color: white;
    background-color: #50e5ad;
}

.btn:hover{
    background-color: #00bfa5;
}

button#next-button{
    color: white;
    background-color: #50e5ad;
}

button#next-button:hover{
   color: white;
   background-color: #00bfa5;
}

ol.progtrckr li{
    text-transform : uppercase;
}

ol.progtrckr li span{
    font-size : 0.75em;
}

/** Modal without jQuery **/

.show-true{
  z-index: 1003;
  display: block; 
  opacity: 1;
  background-color: #00bfa5;
  border-bottom-right-radius: 0.75em;
  border-bottom-left-radius: 0.75em;
  position: absolute;
  width: 58%;
  height: 8.5%;
  top: 0;
}

.show-true span{
  font-size: 1.05em;
}

.show-false{
}



  